:root {
	--article-text-color: rgba(98, 98, 98, 1);
	--paragraph-color: rgba(125, 125, 125, 1);
	--subtitle-color: rgba(180, 173, 158, 1);
	--link-color: rgba(3, 169, 244, 1);
	--background-color: rgba(255, 255, 255, 1);
	--main-font: 'Playfair Display', sans-serif;
	--secondary-font: 'Ubuntu', sans-serif;
}

body {
	font-family: var(--main-font);
	font-size: 14px;
	background-color: var(--background-color);
	line-height: 18.66px;
}

.container {
	width: 906px;
	margin: 0 auto;
}

.header {
	padding-top: 71px;
	padding-bottom: 92px;
}

.header-list {
	display: flex;
	gap: 100px;
	justify-content: center;
}

.header-link {
	text-transform: uppercase;
	color: var(--paragraph-color);
}

.header-link:hover {
	color: var(--link-color);
}

.hero {
	padding-bottom: 66px;
}

.hero-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 130px;
	-moz-column-gap: 65px;
	column-gap: 65px;
	padding-bottom: 90px;
}

.hero-item {
	max-width: 420px;
}

.hero-subtitle {
	font-weight: 300;
	color: var(--article-text-color);
	font-size: inherit;
	text-transform: uppercase;
	padding-top: 32px;
	padding-bottom: 32px;
	font-family: var(--secondary-font);
	color: var(--subtitle-color);
}

.hero-title {
	font-size: 30px;
	color: var(--article-text-color);
	padding-bottom: 40px;
}

.hero-description {
	color: var(--article-text-color);
}

.hero-button {
	color: var(--article-text-color);
	padding: 20px 48px;
	background-color: var(--background);
	border: 1px solid var(--article-text-color);
	display: block;
	margin: auto;
	font-family: var(--main-font);
}
